.container {
  display: flex;
  flex-direction: column;
  font-family: 'Play', sans-serif;
  width: 100%;
  min-width: 100%;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  animation: 250ms fade-in-bottom linear;

  @media (max-width: 1024px) { /* Tablet */ 
    overflow: auto;
  }
}

.extension {
  position: absolute;
  font-size: .6rem;
  font-weight: 600;
  text-transform: uppercase;
  bottom: -7px;
  right: -6px;
}