.btn {
  width: fit-content;
  margin: auto;
  text-transform: uppercase;

  @media (max-width: 1024px) { /* Tablet */ 
    display: none;
  }
}

.btn:hover {
  cursor: pointer;
}

.icon {
  width: 24px;
}
