.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: fit-content;
  margin-top: 40px;

  @media (max-width: 1024px) { /* Tablet */ 
    width: 100%;
  }
}