@import '../../../animations.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  min-width: 100%;
  animation: 250ms fade-in-bottom linear;
}

.searchFilterDiv {
  display: flex;
  justify-content: space-between;
  animation: 250ms fade-in-left linear;

  @media (max-width: 1024px) { /* Tablet */ 
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}

.tableDiv {
  box-shadow: 10px 10px 8px var(--neutral);
  border-radius: 12px;
}