.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: fit-content;
  margin: auto;
  border: 1px dotted var(--warning);
  border-radius: 4px;
}

.title {
  color: var(--warning);
  font-family: 'Play', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.label {
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

.input {
  padding: 8px;
  border-radius: 4px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Jura', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  padding: 0 12px;
  outline: 1px solid white;
  border-radius: 5px;
  box-shadow: 6px 6px 0 white;
  animation: 250ms fade-in-right linear;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--warning);
}