.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.label {
  color: var(--primaryContent);
  font-size: 1rem;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;

  @media (min-width: 1920px) { /* Desktop */ 
    font-size: 1.25rem;
  }
}

.checkbox {
  cursor: pointer;
  transform: scale(1.5);
}