.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  animation: 250ms fade-in-right linear;
}

.label {
  color: var(--neutralContent);
  font-size: .75rem;
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
}

.input {
  cursor: pointer;
  padding: 8px;
}